.root {
  display: flex;
  flex-direction: row;
  position: relative;
  background: var(--token-yXbSZrIY5Hwe);
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 48px;
}
.freeBox__rFDf {
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rFDf {
    display: flex;
    flex-direction: column;
  }
}
.art {
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .art {
    display: flex;
    flex-direction: column;
    flex-shrink: 2;
    min-height: 320px;
  }
}
.img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.img > picture > img {
  object-fit: cover;
}
.blend {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  mix-blend-mode: multiply;
  background: var(--token-9yz0ideYRmQa);
}
.freeBox__rA7LY {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
.freeBox__zzSo9 {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: var(--token-IJApEAhhdZgy);
  min-width: 0;
  padding: 64px;
}
.freeBox__zzSo9 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__zzSo9 > :global(.__wab_flex-container) > *,
.freeBox__zzSo9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zzSo9 > :global(.__wab_flex-container) > picture > img,
.freeBox__zzSo9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zzSo9 {
    padding: 128px 32px;
  }
}
.copy {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
  min-width: 0;
}
.copy > :global(.__wab_flex-container) {
  flex-direction: column;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.copy > :global(.__wab_flex-container) > *,
.copy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.copy > :global(.__wab_flex-container) > picture > img,
.copy > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 32px;
}
.freeBox__z7QJz {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__z7QJz > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__z7QJz > :global(.__wab_flex-container) > *,
.freeBox__z7QJz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__z7QJz > :global(.__wab_flex-container) > picture > img,
.freeBox__z7QJz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__ph2AT {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
  color: var(--token-CxSTsPxaIY5L);
}
.text__iFlz9 {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-CxSTsPxaIY5L);
  line-height: 1;
}
.text__y8Lk {
  font-size: 20px;
  color: var(--token-IR5loBffrclx);
  line-height: 28px;
}
.freeBox__pCoKd {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__pCoKd > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__pCoKd > :global(.__wab_flex-container) > *,
.freeBox__pCoKd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pCoKd > :global(.__wab_flex-container) > picture > img,
.freeBox__pCoKd
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.button__uYx:global(.__wab_instance) {
  position: relative;
}
.svg__iHoyK {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__mRGg7 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__qZL2:global(.__wab_instance) {
  position: relative;
}
.svg__mg1X3 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__sIt7B {
  height: auto;
  font-weight: 400;
}
.svg__jYsyw {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
