@import url("https://fonts.googleapis.com/css2?family=Roboto%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C700%3B0%2C900&family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C800%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C800%3B0%2C900&display=swap");

.plasmic_tokens {
  --token-5c3nUY4cU6Os: #007aff;
  --plasmic-token-blue: var(--token-5c3nUY4cU6Os);
  --token-0gi113TYUHoL: 1080px;
  --plasmic-token-content-max-width: var(--token-0gi113TYUHoL);
  --token-kq7zGR1oJ5xj: #f2f2f7;
  --plasmic-token-light-gray-06: var(--token-kq7zGR1oJ5xj);
  --token-I-humLCWYwMU: #e5e5ea;
  --plasmic-token-light-gray-05: var(--token-I-humLCWYwMU);
  --token-5I2iPQiG7oXS: #000000d9;
  --plasmic-token-light-label: var(--token-5I2iPQiG7oXS);
  --token-AXpTK3bI_zHC: #05050599;
  --plasmic-token-light-secondary: var(--token-AXpTK3bI_zHC);
  --token-9yz0ideYRmQa: #007aff;
  --plasmic-token-light-blue: var(--token-9yz0ideYRmQa);
  --token-AudAHl40s_B7: #ff3b30;
  --plasmic-token-light-red: var(--token-AudAHl40s_B7);
  --token-yXbSZrIY5Hwe: #ffffff;
  --plasmic-token-white: var(--token-yXbSZrIY5Hwe);
  --token-CxSTsPxaIY5L: #ffffffd9;
  --plasmic-token-dark-label: var(--token-CxSTsPxaIY5L);
  --token-IR5loBffrclx: #ffffff80;
  --plasmic-token-dark-secondary: var(--token-IR5loBffrclx);
  --token-w1GWCNZkGbKt: #0000001a;
  --plasmic-token-light-quarternary: var(--token-w1GWCNZkGbKt);
  --token-IJApEAhhdZgy: #1c1c1e;
  --plasmic-token-dark-gray-06: var(--token-IJApEAhhdZgy);
  --token-xxzcIvgWXW2c: #32d74b;
  --plasmic-token-dark-green: var(--token-xxzcIvgWXW2c);
  --token-DR-2vPGssydB: #0a84ff;
  --plasmic-token-dark-blue: var(--token-DR-2vPGssydB);
  --token-ulyOCFp0SKO0: #ffffff1a;
  --plasmic-token-dark-quarternary: var(--token-ulyOCFp0SKO0);
  --token-wf458ewSwEQU: #34c759;
  --plasmic-token-light-green: var(--token-wf458ewSwEQU);
  --token-fvPabMFsruNJ: #5856d6;
  --plasmic-token-light-indigo: var(--token-fvPabMFsruNJ);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-qFPR7SWrmVv-_font-family: "Roboto", sans-serif;
  --mixin-qFPR7SWrmVv-_font-size: 16px;
  --mixin-qFPR7SWrmVv-_font-weight: 400;
  --mixin-qFPR7SWrmVv-_font-style: normal;
  --mixin-qFPR7SWrmVv-_color: var(--token-5I2iPQiG7oXS);
  --mixin-qFPR7SWrmVv-_text-align: left;
  --mixin-qFPR7SWrmVv-_text-transform: none;
  --mixin-qFPR7SWrmVv-_line-height: 1.5;
  --mixin-qFPR7SWrmVv-_letter-spacing: normal;
  --mixin-qFPR7SWrmVv-_white-space: pre-wrap;
  --mixin-qFPR7SWrmVv-_user-select: text;
  --mixin-qFPR7SWrmVv-_text-decoration-line: none;
  --mixin-qFPR7SWrmVv-_text-overflow: clip;
  --mixin-yHecgwOazvX1_white-space: pre-wrap;
  --mixin-Cwd4fVnWTpIL_font-family: "Inter", sans-serif;
  --mixin-Cwd4fVnWTpIL_color: #000000;
  --mixin-Cwd4fVnWTpIL_font-size: 72px;
  --mixin-Cwd4fVnWTpIL_font-weight: 900;
  --mixin-Cwd4fVnWTpIL_letter-spacing: -4px;
  --mixin-Cwd4fVnWTpIL_line-height: 1;
  --mixin-Cwd4fVnWTpIL_white-space: pre-wrap;
  --mixin-wa3HmgI1GQeL_font-family: "Inter", sans-serif;
  --mixin-wa3HmgI1GQeL_color: #000000;
  --mixin-wa3HmgI1GQeL_font-size: 32px;
  --mixin-wa3HmgI1GQeL_font-weight: 600;
  --mixin-wa3HmgI1GQeL_letter-spacing: -0.8px;
  --mixin-wa3HmgI1GQeL_line-height: 1.2;
  --mixin-wa3HmgI1GQeL_white-space: pre-wrap;
  --mixin-_0GjZFZadXMG_font-family: "Inter", sans-serif;
  --mixin-_0GjZFZadXMG_color: #000000;
  --mixin-_0GjZFZadXMG_font-size: 24px;
  --mixin-_0GjZFZadXMG_font-weight: 600;
  --mixin-_0GjZFZadXMG_letter-spacing: -0.5px;
  --mixin-_0GjZFZadXMG_line-height: 1.3;
  --mixin-_0GjZFZadXMG_white-space: pre-wrap;
  --mixin-08KdBhn6e0_Z_font-family: "Inter", sans-serif;
  --mixin-08KdBhn6e0_Z_color: #000000;
  --mixin-08KdBhn6e0_Z_font-size: 20px;
  --mixin-08KdBhn6e0_Z_font-weight: 600;
  --mixin-08KdBhn6e0_Z_letter-spacing: -0.3px;
  --mixin-08KdBhn6e0_Z_line-height: 1.5;
  --mixin-08KdBhn6e0_Z_white-space: pre-wrap;
  --mixin-SW0wz0akEJS3_font-family: "Inter", sans-serif;
  --mixin-SW0wz0akEJS3_color: #000000;
  --mixin-SW0wz0akEJS3_font-size: 16px;
  --mixin-SW0wz0akEJS3_font-weight: 600;
  --mixin-SW0wz0akEJS3_line-height: 1.5;
  --mixin-SW0wz0akEJS3_white-space: pre-wrap;
  --mixin-Aec3DqxQI7Pb_border-left-color: #dddddd;
  --mixin-Aec3DqxQI7Pb_border-left-style: solid;
  --mixin-Aec3DqxQI7Pb_border-left-width: 3px;
  --mixin-Aec3DqxQI7Pb_color: #888888;
  --mixin-Aec3DqxQI7Pb_padding-left: 10px;
  --mixin-Aec3DqxQI7Pb_white-space: pre-wrap;
  --mixin-7J8bqZvHWIK__background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-7J8bqZvHWIK__border-bottom-color: #dddddd;
  --mixin-7J8bqZvHWIK__border-bottom-style: solid;
  --mixin-7J8bqZvHWIK__border-bottom-width: 1px;
  --mixin-7J8bqZvHWIK__border-left-color: #dddddd;
  --mixin-7J8bqZvHWIK__border-left-style: solid;
  --mixin-7J8bqZvHWIK__border-left-width: 1px;
  --mixin-7J8bqZvHWIK__border-right-color: #dddddd;
  --mixin-7J8bqZvHWIK__border-right-style: solid;
  --mixin-7J8bqZvHWIK__border-right-width: 1px;
  --mixin-7J8bqZvHWIK__border-top-color: #dddddd;
  --mixin-7J8bqZvHWIK__border-top-style: solid;
  --mixin-7J8bqZvHWIK__border-top-width: 1px;
  --mixin-7J8bqZvHWIK__border-bottom-left-radius: 3px;
  --mixin-7J8bqZvHWIK__border-bottom-right-radius: 3px;
  --mixin-7J8bqZvHWIK__border-top-left-radius: 3px;
  --mixin-7J8bqZvHWIK__border-top-right-radius: 3px;
  --mixin-7J8bqZvHWIK__font-family: "Inconsolata";
  --mixin-7J8bqZvHWIK__padding-bottom: 1px;
  --mixin-7J8bqZvHWIK__padding-left: 4px;
  --mixin-7J8bqZvHWIK__padding-right: 4px;
  --mixin-7J8bqZvHWIK__padding-top: 1px;
  --mixin-7J8bqZvHWIK__white-space: pre-wrap;
  --mixin-21nurF-YVxbT_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-21nurF-YVxbT_border-bottom-color: #dddddd;
  --mixin-21nurF-YVxbT_border-bottom-style: solid;
  --mixin-21nurF-YVxbT_border-bottom-width: 1px;
  --mixin-21nurF-YVxbT_border-left-color: #dddddd;
  --mixin-21nurF-YVxbT_border-left-style: solid;
  --mixin-21nurF-YVxbT_border-left-width: 1px;
  --mixin-21nurF-YVxbT_border-right-color: #dddddd;
  --mixin-21nurF-YVxbT_border-right-style: solid;
  --mixin-21nurF-YVxbT_border-right-width: 1px;
  --mixin-21nurF-YVxbT_border-top-color: #dddddd;
  --mixin-21nurF-YVxbT_border-top-style: solid;
  --mixin-21nurF-YVxbT_border-top-width: 1px;
  --mixin-21nurF-YVxbT_border-bottom-left-radius: 3px;
  --mixin-21nurF-YVxbT_border-bottom-right-radius: 3px;
  --mixin-21nurF-YVxbT_border-top-left-radius: 3px;
  --mixin-21nurF-YVxbT_border-top-right-radius: 3px;
  --mixin-21nurF-YVxbT_font-family: "Inconsolata";
  --mixin-21nurF-YVxbT_padding-bottom: 3px;
  --mixin-21nurF-YVxbT_padding-left: 6px;
  --mixin-21nurF-YVxbT_padding-right: 6px;
  --mixin-21nurF-YVxbT_padding-top: 3px;
  --mixin-21nurF-YVxbT_white-space: pre-wrap;
  --mixin-ucwOl4vwxCOp_display: flex;
  --mixin-ucwOl4vwxCOp_flex-direction: column;
  --mixin-ucwOl4vwxCOp_align-items: stretch;
  --mixin-ucwOl4vwxCOp_justify-content: flex-start;
  --mixin-ucwOl4vwxCOp_list-style-position: outside;
  --mixin-ucwOl4vwxCOp_padding-left: 40px;
  --mixin-ucwOl4vwxCOp_position: relative;
  --mixin-ucwOl4vwxCOp_list-style-type: decimal;
  --mixin-ucwOl4vwxCOp_white-space: pre-wrap;
  --mixin-wgTjDL0kCwHd_display: flex;
  --mixin-wgTjDL0kCwHd_flex-direction: column;
  --mixin-wgTjDL0kCwHd_align-items: stretch;
  --mixin-wgTjDL0kCwHd_justify-content: flex-start;
  --mixin-wgTjDL0kCwHd_list-style-position: outside;
  --mixin-wgTjDL0kCwHd_padding-left: 40px;
  --mixin-wgTjDL0kCwHd_position: relative;
  --mixin-wgTjDL0kCwHd_list-style-type: disc;
  --mixin-wgTjDL0kCwHd_white-space: pre-wrap;
}

.plasmic_mixins {
  --mixin-uYV4cAT4DQn4_white-space: pre-wrap;
  --plasmic-mixin-container_white-space: var(--mixin-uYV4cAT4DQn4_white-space);
  --mixin-ywcUuaP93Wog_white-space: pre-wrap;
  --plasmic-mixin-h-4_white-space: var(--mixin-ywcUuaP93Wog_white-space);
  --mixin-l8MFms3SceV4_box-shadow: 0px 0px 0px 3px #007aff80;
  --plasmic-mixin-focus-shadow_box-shadow: var(--mixin-l8MFms3SceV4_box-shadow);
  --mixin-l8MFms3SceV4_white-space: pre-wrap;
  --plasmic-mixin-focus-shadow_white-space: var(
    --mixin-l8MFms3SceV4_white-space
  );
  --mixin-S8E7lrE-_ZHR_white-space: pre-wrap;
  --plasmic-mixin-10-16-padding_white-space: var(
    --mixin-S8E7lrE-_ZHR_white-space
  );
  --mixin-svlklrfKEUcM_white-space: pre-wrap;
  --plasmic-mixin-6-radius_white-space: var(--mixin-svlklrfKEUcM_white-space);
  --mixin-x-HDsAj7nw89_box-shadow: 0px 0px 0px 4px #0095ff80;
  --plasmic-mixin-focus-outline_box-shadow: var(
    --mixin-x-HDsAj7nw89_box-shadow
  );
  --mixin-x-HDsAj7nw89_white-space: pre-wrap;
  --plasmic-mixin-focus-outline_white-space: var(
    --mixin-x-HDsAj7nw89_white-space
  );
  --mixin-La3XnkuAOoUy_box-shadow: 0px 1px 1px 1px #0000001a;
  --plasmic-mixin-extra-small-shadow_box-shadow: var(
    --mixin-La3XnkuAOoUy_box-shadow
  );
  --mixin-La3XnkuAOoUy_white-space: pre-wrap;
  --plasmic-mixin-extra-small-shadow_white-space: var(
    --mixin-La3XnkuAOoUy_white-space
  );
  --mixin-nI7ohndZHhJl_white-space: pre-wrap;
  --plasmic-mixin-heading-6_white-space: var(--mixin-nI7ohndZHhJl_white-space);
  --mixin-Cpe0--cLt5Kd_box-shadow: 0px 10px 10px 0px #00000026;
  --plasmic-mixin-medium-shadow_box-shadow: var(
    --mixin-Cpe0--cLt5Kd_box-shadow
  );
  --mixin-Cpe0--cLt5Kd_white-space: pre-wrap;
  --plasmic-mixin-medium-shadow_white-space: var(
    --mixin-Cpe0--cLt5Kd_white-space
  );
  --mixin-SBo7twhmjhmU_white-space: pre-wrap;
  --plasmic-mixin-heading-2_white-space: var(--mixin-SBo7twhmjhmU_white-space);
  --mixin-8aHd3U9WBCqD_white-space: pre-wrap;
  --plasmic-mixin-bg-image_white-space: var(--mixin-8aHd3U9WBCqD_white-space);
  --mixin-y6TFU5QBJECN_white-space: pre-wrap;
  --plasmic-mixin-section_white-space: var(--mixin-y6TFU5QBJECN_white-space);
  --mixin-SZFQVubV_-3n_white-space: pre-wrap;
  --plasmic-mixin-dark-section-background_white-space: var(
    --mixin-SZFQVubV_-3n_white-space
  );
  --mixin-ZhpVyptjwQMJ_white-space: pre-wrap;
  --plasmic-mixin-content-max_white-space: var(
    --mixin-ZhpVyptjwQMJ_white-space
  );
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-qFPR7SWrmVv-_font-family);
  font-size: var(--mixin-qFPR7SWrmVv-_font-size);
  font-weight: var(--mixin-qFPR7SWrmVv-_font-weight);
  font-style: var(--mixin-qFPR7SWrmVv-_font-style);
  color: var(--mixin-qFPR7SWrmVv-_color);
  text-align: var(--mixin-qFPR7SWrmVv-_text-align);
  text-transform: var(--mixin-qFPR7SWrmVv-_text-transform);
  line-height: var(--mixin-qFPR7SWrmVv-_line-height);
  letter-spacing: var(--mixin-qFPR7SWrmVv-_letter-spacing);
  white-space: var(--mixin-qFPR7SWrmVv-_white-space);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  font-family: var(--mixin-Cwd4fVnWTpIL_font-family);
  color: var(--mixin-Cwd4fVnWTpIL_color);
  font-size: var(--mixin-Cwd4fVnWTpIL_font-size);
  font-weight: var(--mixin-Cwd4fVnWTpIL_font-weight);
  letter-spacing: var(--mixin-Cwd4fVnWTpIL_letter-spacing);
  line-height: var(--mixin-Cwd4fVnWTpIL_line-height);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  font-family: var(--mixin-wa3HmgI1GQeL_font-family);
  color: var(--mixin-wa3HmgI1GQeL_color);
  font-size: var(--mixin-wa3HmgI1GQeL_font-size);
  font-weight: var(--mixin-wa3HmgI1GQeL_font-weight);
  letter-spacing: var(--mixin-wa3HmgI1GQeL_letter-spacing);
  line-height: var(--mixin-wa3HmgI1GQeL_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  font-family: var(--mixin-_0GjZFZadXMG_font-family);
  color: var(--mixin-_0GjZFZadXMG_color);
  font-size: var(--mixin-_0GjZFZadXMG_font-size);
  font-weight: var(--mixin-_0GjZFZadXMG_font-weight);
  letter-spacing: var(--mixin-_0GjZFZadXMG_letter-spacing);
  line-height: var(--mixin-_0GjZFZadXMG_line-height);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  font-family: var(--mixin-08KdBhn6e0_Z_font-family);
  color: var(--mixin-08KdBhn6e0_Z_color);
  font-size: var(--mixin-08KdBhn6e0_Z_font-size);
  font-weight: var(--mixin-08KdBhn6e0_Z_font-weight);
  letter-spacing: var(--mixin-08KdBhn6e0_Z_letter-spacing);
  line-height: var(--mixin-08KdBhn6e0_Z_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  font-family: var(--mixin-SW0wz0akEJS3_font-family);
  color: var(--mixin-SW0wz0akEJS3_color);
  font-size: var(--mixin-SW0wz0akEJS3_font-size);
  font-weight: var(--mixin-SW0wz0akEJS3_font-weight);
  line-height: var(--mixin-SW0wz0akEJS3_line-height);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-Aec3DqxQI7Pb_color);
  padding-left: var(--mixin-Aec3DqxQI7Pb_padding-left);
  border-left: var(--mixin-Aec3DqxQI7Pb_border-left-width)
    var(--mixin-Aec3DqxQI7Pb_border-left-style)
    var(--mixin-Aec3DqxQI7Pb_border-left-color);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-7J8bqZvHWIK__font-family);
  border-radius: var(--mixin-7J8bqZvHWIK__border-top-left-radius)
    var(--mixin-7J8bqZvHWIK__border-top-right-radius)
    var(--mixin-7J8bqZvHWIK__border-bottom-right-radius)
    var(--mixin-7J8bqZvHWIK__border-bottom-left-radius);
  padding: var(--mixin-7J8bqZvHWIK__padding-top)
    var(--mixin-7J8bqZvHWIK__padding-right)
    var(--mixin-7J8bqZvHWIK__padding-bottom)
    var(--mixin-7J8bqZvHWIK__padding-left);
  border-top: var(--mixin-7J8bqZvHWIK__border-top-width)
    var(--mixin-7J8bqZvHWIK__border-top-style)
    var(--mixin-7J8bqZvHWIK__border-top-color);
  border-right: var(--mixin-7J8bqZvHWIK__border-right-width)
    var(--mixin-7J8bqZvHWIK__border-right-style)
    var(--mixin-7J8bqZvHWIK__border-right-color);
  border-bottom: var(--mixin-7J8bqZvHWIK__border-bottom-width)
    var(--mixin-7J8bqZvHWIK__border-bottom-style)
    var(--mixin-7J8bqZvHWIK__border-bottom-color);
  border-left: var(--mixin-7J8bqZvHWIK__border-left-width)
    var(--mixin-7J8bqZvHWIK__border-left-style)
    var(--mixin-7J8bqZvHWIK__border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-21nurF-YVxbT_font-family);
  border-radius: var(--mixin-21nurF-YVxbT_border-top-left-radius)
    var(--mixin-21nurF-YVxbT_border-top-right-radius)
    var(--mixin-21nurF-YVxbT_border-bottom-right-radius)
    var(--mixin-21nurF-YVxbT_border-bottom-left-radius);
  padding: var(--mixin-21nurF-YVxbT_padding-top)
    var(--mixin-21nurF-YVxbT_padding-right)
    var(--mixin-21nurF-YVxbT_padding-bottom)
    var(--mixin-21nurF-YVxbT_padding-left);
  border-top: var(--mixin-21nurF-YVxbT_border-top-width)
    var(--mixin-21nurF-YVxbT_border-top-style)
    var(--mixin-21nurF-YVxbT_border-top-color);
  border-right: var(--mixin-21nurF-YVxbT_border-right-width)
    var(--mixin-21nurF-YVxbT_border-right-style)
    var(--mixin-21nurF-YVxbT_border-right-color);
  border-bottom: var(--mixin-21nurF-YVxbT_border-bottom-width)
    var(--mixin-21nurF-YVxbT_border-bottom-style)
    var(--mixin-21nurF-YVxbT_border-bottom-color);
  border-left: var(--mixin-21nurF-YVxbT_border-left-width)
    var(--mixin-21nurF-YVxbT_border-left-style)
    var(--mixin-21nurF-YVxbT_border-left-color);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-ucwOl4vwxCOp_display);
  flex-direction: var(--mixin-ucwOl4vwxCOp_flex-direction);
  align-items: var(--mixin-ucwOl4vwxCOp_align-items);
  justify-content: var(--mixin-ucwOl4vwxCOp_justify-content);
  list-style-position: var(--mixin-ucwOl4vwxCOp_list-style-position);
  padding-left: var(--mixin-ucwOl4vwxCOp_padding-left);
  position: var(--mixin-ucwOl4vwxCOp_position);
  list-style-type: var(--mixin-ucwOl4vwxCOp_list-style-type);
  flex-column-gap: var(--mixin-ucwOl4vwxCOp_flex-column-gap);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-wgTjDL0kCwHd_display);
  flex-direction: var(--mixin-wgTjDL0kCwHd_flex-direction);
  align-items: var(--mixin-wgTjDL0kCwHd_align-items);
  justify-content: var(--mixin-wgTjDL0kCwHd_justify-content);
  list-style-position: var(--mixin-wgTjDL0kCwHd_list-style-position);
  padding-left: var(--mixin-wgTjDL0kCwHd_padding-left);
  position: var(--mixin-wgTjDL0kCwHd_position);
  list-style-type: var(--mixin-wgTjDL0kCwHd_list-style-type);
  flex-column-gap: var(--mixin-wgTjDL0kCwHd_flex-column-gap);
}
